body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
}

a {
    text-decoration: none;
}

p {
    padding: 5px;
}

.hidden {
    display: none;
}

h1 {
    color: rgb(243, 237, 237);
}

.h2_title {
    font-weight: bold;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page_title {
    font-size: 28px;
    word-spacing: 5px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
    min-height: 50px;
    background-color: #3a7bb3;
    background-image: linear-gradient(120deg, #3a7bb3 12%, #493e84 89%, #92d9f5 100%);
    margin-bottom: 10px;
}

.page-title {
    display: none;
}

button {
    background-color: rgb(68, 68, 144);
    color: rgb(246, 241, 241);
    text-decoration: none;
    padding: 8px 20px;
    font-size: 14px;
    margin: 5px;
}

button:hover {
    background-color: rgba(176, 176, 192, 0.733);
    color: rgb(18, 18, 58);
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

form .inputwrapper {
    padding: 10px;
}

form {
    margin: 10px auto 20px auto;
}

.search_form {
    height: 30vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 25% 25% 25% 25%;
    align-items: center;
    justify-content: center;
}

.inputwrapper_isbn {
    justify-self: stretch;
    grid-row-start: 1;
    grid-column-start: 2;
}
.inputwrapper_title {
    justify-self: stretch;
    grid-row-start: 2;
    grid-column-start: 2;
}
.inputwrapper_author {
    justify-self: stretch;
    grid-row-start: 3;
    grid-column-start: 2;
}

.search_form_submit {
    grid-row-start: 4;
    grid-column-start: 2;
    align-self: center;
    height: 30px;
    width: 100px;
    justify-self: center;
}

input {
    width: 200px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: justify;
    justify-content: left;
}

li {
    padding: 10px 10px;
    list-style-type: none;
    margin: 10px;
    border: 1px solid black;
    width: auto;
}

.bold {
    font-weight: bold;
}

.search_results p {
    padding: 5px 0;
}

.more_info_btn {
    display: block;
    margin: 0 auto;
}
