{% extends "layout.html" %}

    <!-- Body -->
    {% block body %}
    <!-- Book Details -->
    <h2>Book Details</h2>
    
    <p><b>Book title: {{ book.title }}</b></p> 
    <p>Book author: {{ book.author }}</p>
    <p>ISBN number: {{ book.isbn }}</p>
    <p>Year published: {{ book.year }}</p>
    <p>Book ID: {{ book.id }}</p>

    <h2>Reviews</h2>
    <ul>
        {% for review in reviews %}
            <li>
                <p>{{ review.user_id }}</p>
                <p>{{ review.rating }}</p>
                <p>{{ review.review }}</p>
            </li>
        {% else %}
            <li><p>No book reviews.</p></li>
        {% endfor %}
    </ul>

    <!-- Review submission form -->
    <h3>Fill out the form below to submit your own review.</h3>
    <form action="{{ url_for('review', book_id=book.id) }}" method="post">
        <div class="inputwrapper">
            <label for="username">Username: </label><input type="text" name="username">
        </div>
        <div class="inputwrapper">
            <textarea name="reviewText" cols="100" rows="10">Type your review here...</textarea>
        </div>
        <div class="inputwrapper">
            <label for="rating">Rating (from 1 to 5): </label><input type="number" name="rating" min="1" max="5">
        </div>
        <button>Submit Review</button>
    </form>
    
    <a href="{{ url_for('logout') }}">Click here to logout.</a><br>
    {% endblock %}