{% extends "layout.html" %}

    <!-- Body -->
    {% block body %}
    <!-- Book Details -->
    <h2>Book Details</h2>
    
    <p><b>Book title: {{ book.title }}</b></p> 
    <p>Book author: {{ book.author }}</p>
    <p>ISBN number: {{ book.isbn }}</p>
    <p>Year published: {{ book.year }}</p>
    <p class="hidden">Book ID: {{ book.id }}</p>
    <p>Number of reviews: {{ ratings_number }}</p>
    <p>Average rating: {{ average_rating }}</p>

    <h2>Reviews</h2>
    <ol>
        {% for review in reviews %}
            <li>
                <p>Username: {{ review.user_id }}</p>
                <p>Rating: {{ review.rating }}</p> 
                <p>Review: {{ review.review }}</p>
            </li>
        {% else %}
            <li>No reviews for this book yet.</li>
        {% endfor %}
    </ol>

    {{ session["username"] }}<br>
    <a href="{{ url_for('review', book_id=book.id) }}">Click here to post a review.</a><br>
    {% endblock %}