{% extends "layout.html" %}

    <!-- Heading -->
    {% block heading %}
        Please loging using the form below:
    {% endblock %}

    <!-- Body -->
    {% block body %}
    <!-- Login/Registration form -->
    <form action="login" method="post">
        <div class="inputwrapper">
            <label for="name">Username: </label><input type="text" name="user_id">
        </div>
        <div class="inputwrapper">
            <label for="password">Password: </label><input type="password" name="password">
        </div>
        <button type="submit">Log In</button>
    </form>

    <a href="{{ url_for('register') }}">Click here to register for an account.</a>
    {% endblock %}