{% extends "layout.html" %}

    <!-- Body -->
    {% block body %}
    <!-- Testing the post request -->
    
    <form action="{{ url_for('submission') }}" method="post">
            <div class="inputwrapper">
                <label for="username">Username: </label><input type="text" name="username">
            </div>
            <div class="inputwrapper">
                <label for="isbn">ISBN Number: </label><input type="text" name="isbn">
            </div>
            <textarea name="reviewText" cols="100" rows="10">Write your review here...</textarea>
            <div class="inputwrapper">
                <label for="rating">Rating: </label><input type="number" name="rating" min="1" max="5">
            </div>
            <button>Submit Review</button>
        </form>
    
    <a href="{{ url_for('logout') }}">Click here to logout.</a>
    {% endblock %}