{% extends "layout.html" %}

    <!-- Body -->
    {% block body %}
    <!-- Testing the post request -->
    <p>Enter the following details regarding the book you are searching for below:</p>
    
    <form action="{{ url_for('results') }}" method="post" class="search_form">
        <div class="inputwrapper_isbn">
            <label for="isbn">ISBN:  </label><br>
            <input type="text" name="isbn">
        </div>
        <div class="inputwrapper_title">
            <label for="title">Title:  </label><br>
            <input type="text" name="title">
        </div>
        <div class="inputwrapper_author">
            <label for="author">Author: </label><br>
            <input type="text" name="author">
        </div>
        <button class="search_form_submit">Search</button>
    </form>
    
    Hello, {{ session["username"] }}. Welcome to Book Review Website.<br>
    {% endblock %}